.Navbar
  .Navbar-container

    a(href='/') 
      img.logo(src='/assets/logo.webp')
    ul
      li
        a(href='/commands') Commands
      li
        a(href='/dash') Dashboard
      li
        a(target='_blank', href='https://github.com/cappig/MC-status-bot') Github
      li
        a(href='/about') About
    if user
      img.profile(src=`https://cdn.discordapp.com/avatars/${user._id}/${user.avatar}.webp`)
      div.dropdown#dropdown
        a(href='/profile') Profile
        hr.line
        a(href='/logout') Logout