.container {
    margin-top: 4.5% !important;
    margin: 40px auto 0px;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
}

.servername {
    margin-bottom: 5px;
    float: right;
    color: rgb(242, 244, 251);
    font-size: 13px;
    font-weight: 300;
    vertical-align: middle;
}

.server {
    margin-right: 20px;
    float: right;
    border: 1px solid rgb(242, 244, 251);
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
}

.nameWrapper {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-bottom: 40%;

    padding: 15px 20px;
    border-radius: 5px;
    background-color: #1b1d1f6b;
}

.line{
    margin: 15px;
    opacity: 0.1;
}

.optionWrapper {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #1b1d1f6b;
}

.panel {
    width: 200px;
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    color: rgb(242, 244, 251);
}

.paneltxt {
    font-size: 17px !important;
    font-weight: 300;
    margin-top: 14px;
    color: rgb(242, 244, 251);
}

.configWrapper {
    margin-left: 350px;
    padding-top: 175px;
    color: rgb(242, 244, 251);
}

.config {
    padding: 30px;
    border-radius: 5px;
    background-color: #1b1d1f6b;
}

.inputLbl {
    font-size: 17px !important;
    font-weight: 300;
    margin-bottom: 13px;
}

.inputDesc {
    font-size: 13px !important;
    color: rgba(215, 217, 223, 0.849);
    font-weight: 200;
    margin-top: -7px;
    margin-bottom: 20px;
}

.charttxt {
    margin-bottom: 30px;
}

#charttxtb {
    margin-top: 40px;
}

.setupDesc {
    margin-top: -30px;
    margin-bottom: 30px;
}

.genline {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.title {
    font-size: 20px !important;
    font-weight: 300;
    margin-bottom: 35px;
}

.textInput {
    padding: 0.375vh .75rem;
    color: rgb(242, 244, 251);
    background-color: #1b1d1f67;
    border-radius: 5px;
    border: none;
    outline-color: transparent;
    transition: outline-color 0.15s ease-in-out;
}

.textInput:focus {
    outline-style: solid;
    outline-color: #1b5894;
}

.selector {
    color: #C0C0C0;
    background-color: #1b1d1f67;
    border-radius: 5px;
    border: none;
    outline-color: transparent;
    transition: outline-color 0.15s ease-in-out;
}
.selector:focus {
    outline-style: solid;
    outline-color: #1b5894;
}
.selector option {
    border: none;
    background-color: #1b1d1f;
}

.subBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Roboto', sans-serif;
    margin-top: 35px;
    height: 30px;
    width: 70px;
    color: white;
    border-radius: 5px;
    background: #1b5894;
    border-style: none;
}

.settingsWrapper {
    margin-left: 20px;
}