.container {
    margin-top: 4.5% !important;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto', sans-serif;
}

.guilds {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 40px;
}

@media screen and (max-width: 1300px) {
    .guilds {
        gap: 30px;
        grid-template-columns: 350px 350px;
    }
}

@media screen and (max-width: 800px) {
    .guilds {
        gap: 20px;
        grid-template-columns: 350px;
    }
    .guildstxt {
        font-size: 30px !important;
        margin-bottom: 20% !important;
    }
    .guilddescr h1 {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 390px) {
    .guilds {
        grid-template-columns: 300px;
    }
    .guild {
        width: 300px !important;
    }
}

.guildstxt {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5.5%;
    color: white;
    font-size: 35px;
    line-height: 40px;
    font-weight: bolder;
}

.server {
    position: relative;
    z-index: 2;
    border: 2px solid rgb(242, 244, 251);
    filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 32px 72px);
    width: 85px;
    height: 85px;
    border-radius: 45px;
    flex-shrink: 0;
}

.guildbg {
    box-shadow: 18px 17px 63px -9px rgba(0,0,0,0.64);
    z-index: 1;
    position: relative;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    border-radius: 8px;
    background: rgb(31, 33, 41) none repeat scroll 0% 0%;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.guildbgimg {
    position: absolute;
    inset: 0px;
    z-index: 1;
    transform: scale(4);
    filter: blur(15px);
    opacity: 0.6;
}

.guilddescr {
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.guilddescr h1 {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.guilddescr button {
    box-shadow: 18px 17px 63px -9px rgba(0,0,0,0.64);
    font-weight: 800;
    font-size: 14px;

    margin-right: 5px;
    margin-top: -17px;
    font-family: 'Roboto', sans-serif;
    height: 40px;
    width: 80px;
    color: rgb(242, 244, 251);
    border-radius: 5px;
    background: #1b1d1f;
    border-style: none;
}

.conf {
    background: #1b5894 !important;
}

.guild {
    width: 350px; 
}

#noimgbg {
    background: linear-gradient(45deg, rgb(92, 124, 165), rgb(123, 94, 126));
}