@import url(https://fonts.googleapis.com/css?family=Roboto:100);

/* GLobal stuff */
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    padding: 0px;
    margin: 0px;
    background-color: #131b21;
    overflow-x: hidden;
}

a { 
    text-decoration: none; 
}
a:hover { 
    text-decoration: none; 
}

/* Navbar */
#Navbar-container {
    width: 50%;
    margin: 0 auto;
    height: 70px;
}
.Navbar {
    z-index: 69;
    margin-top: 1.5vh;

    height: 70px;
    width: 100%;
    text-align: center;
}
.logo{
    margin-left: -70px;
    float:left;
    height: 70px;
}
.Navbar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}
.Navbar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}
.Navbar li a {
    color: white;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    line-height: 70px;
    padding: 5px 25px;
}
.profile {
    margin-top: 15px;
    border-radius: 50%;
    margin-right: -70px;
    float: right;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
}

.dropdown {
    margin-top: 10px;
    margin-top: 70px;
    margin-right: -80px;
    font-size: 15px;
    
    width: 120px;
    float: right;
    align-items: center;
    text-align: center;

    display: block;

    padding: 5px 0px;
    border-radius: 5px;
    background-color: #1b1d1f6b;

    opacity: 0;

    pointer-events: none;
    transition: opacity 50ms ease-in-out;
}
.dropdown a {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;

    padding: 5px 10px 5px;
    width: 100%;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.dropdown a:hover {
    background-color: #1256996b;
}

.active {
    pointer-events: unset;
    opacity: 1;
}

.line{
    color: white;
    margin: 5px 8px 5px !important;
    opacity: 0.1;
}

@media screen and (max-width: 950px) {
    .Navbar ul {
        display: none;
    }
    .Navbar {
        height: 50px;
    }
    .logo{
        margin-left: -70px;
        height: 50px;
    }
    .profile {
        margin-top: 10px;
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
    }
}

/* Particles.js */ 
#particles-js canvas{
    background-image: linear-gradient(90deg, rgb(47, 72, 94) 0%, rgb(29, 36, 48) 100%);
    width: 100% !important;
    height: 100% !important;
    background-size: cover;
    position: fixed;
    z-index: -10;
    top: 0; right: 0; bottom: 0; left: 0;
    opacity: 0.8;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}