include includes/heder.pug
link(rel='stylesheet', href='/css/landing.css')

#tsparticles

include includes/navbar.pug

div.outer
    div.TitleTxt
        span.TitleInner 404
    span.TitleBottom(style='margin-top: 35px') 
        | We couldn't find the page you were looking for.
        
include includes/footer.pug