include includes/heder.pug
link(rel='stylesheet', href='/css/about.css')

#tsparticles

include includes/navbar.pug

div.container
    h1.FeatureTitle Versatile and easy to use
    div.Feture
        img.FeaturesImg(src='/assets/landingphoto1.png')
        p.FeaturesText Set up and configure with a simple command.

include includes/footer.pug