include includes/heder.pug
link(rel='stylesheet', href='/css/controlpanel.css')

#tsparticles

include includes/navbar.pug

main.container
    include includes/gcpanel.pug
    div.configWrapper
        div.config
            h1.title General settings
            form(action=`/dash/${server.id}/general`, method='POST')

                div.settingsWrapper
                    h1.inputLbl Monitoring IP:
                    h2.inputDesc The ip that the bot will monitor and ping by default
                    input.textInput(type='text', name = "ip", placeholder=serverdata.IP, autocomplete ='off')
                hr.line.genline

                div.settingsWrapper
                    h1.inputLbl Logging:
                    h2.inputDesc Will the bot store logs
                    select.selector(name = "logging")
                        option(value="")
                        option(value="on") On
                        option(value="off") Off
                hr.line.genline

                div.settingsWrapper
                    h1.inputLbl Timezone:
                    h2.inputDesc The timezone displayed on the graphs (NOT IMPLEMENTED YET)
                    select.selector(name = "timezone")
                        option(value="")
                        option(value="true") UTC
                        option(value="false") YM
                
                button.subBtn(type='submit') Save

include includes/footer.pug