include includes/heder.pug
link(rel='stylesheet', href='/css/controlpanel.css')

#particles-js

include includes/navbar.pug

main.container
    include includes/gcpanel.pug
    div.configWrapper
        div.config
            h1.title Monitoring channel setup
            if serverdata.StatusChannId
                h1 work in progress
                //form(action=`/dash/${server.id}/setup`, method='POST')
                    button.subBtn(type='submit') Save
            else
                form(action=`/dash/${server.id}/setup`, method='POST')

                    p.inputDesc.setupDesc This server doesn't have any monitoring channels set up. You can configure them here.

                    div.settingsWrapper
                        h1.inputLbl Monitoring IP:
                        if serverdata.IP
                            h2.inputDesc The ip that the bot will monitor and ping by default. Leave blank to use the default IP.
                            input.textInput(type='text', name = "ip", placeholder=serverdata.IP, autocomplete ='off')
                        else
                            h2.inputDesc The ip that the bot will monitor and ping by default.
                            input.textInput(type='text', name = "ip", autocomplete ='off')
                    
                    button.subBtn(type='submit') Setup

include includes/footer.pug